.Card {
  background-color: white;
  width: 30rem;
  height: fit-content;
  border-radius: 1rem;
  box-shadow: 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes spin {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.cardgradient
{
  width: 31rem;
  border-radius: 1rem;
  overflow: hidden;
  height: fit-content;
  /* height: -webkit-fit-content;
  height: fit-content; */
  /* background-color: white; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --rotate: 45deg;
  /* background-image: linear-gradient(var(--rotate),  white, red , black); */
  /* position: absolute; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 200% 200%; */
  animation: spin 1s  ease infinite;
}



.fade-in-image::onscroll { animation: fadeIn 5s; }

.card-img {
  border-radius: 1rem 1rem 0 0;
  width: 30rem;
  font-size: larger;
}
.card-title {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-description {
  font-weight: 600;
  width: 28rem;
  height: 8rem;
  position: relative;
}
.card-link {
  color: red;
  margin: 1rem;
  font-weight: 1000;
  text-decoration: none;
  position: relative;
  bottom: 2rem;
}


@media screen and (max-width: 550px)
{
  .Card {
    background-color: white;
    width: 20rem;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
  }
  
  .card-img {
    border-radius: 1rem 1rem 0 0;
    width: 20rem;
    font-size: larger;
  }
  .card-title {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-description {
    font-weight: 600;
    width: 18rem;
    height: 8rem;
    position: relative;
  }
  .card-link {
    color: red;
    margin: 1rem;
    font-weight: 1000;
    text-decoration: none;
    position: relative;
    bottom: 2rem;
  }

  
@keyframes spin {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.cardgradient
{
  width: 21rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --rotate: 45deg;
  /* background-image: linear-gradient(var(--rotate),  white, red , black); */
  /* position: absolute; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 200% 200%; */
  animation: spin 1s  ease infinite;
}
  
}