/* Footer.css */

.footer {
  background-color: black;
  color: rgb(240, 236, 236);
  width: auto;
  height: 10rem;
}

.links
{
  font-size: 1.5rem;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.implinks {
  margin-top: 1.2rem;
}

.footer__links a {
  color: red;
  font-size: 2rem;
  margin-right: 1rem;
  text-decoration: none;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: larger;
  width: fit-content;
  height: fit-content;
}

.footer__icon-link {
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  text-decoration: none;
  width: 4rem;
  height: 5rem;
}

@media screen and (max-width: 840px) {
  .footer {
    background-color: black;
    color: rgb(240, 236, 236);
    width: auto;
    height: 15rem;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    font-size: larger;
    width: 5rem;
    height: fit-content;
  }

  .footer__icon-link {
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    text-decoration: none;
    width: 4rem;
    height: fit-content;
  }
  .footer__content {
    padding: 1rem;
  }
}
