.NavbarItems {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 0px 0px;
  margin: 10px 0 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 70px;
  border-radius: 15px;
  z-index: 500;
  /* border: 0.1px solid white; */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.tedx-logo {
  width: 9rem;
  height: 5rem;
}

.menu-icons {
  display: none;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
}

.nav-links:hover {
  color: red;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

#registerbutton
{
  background-color: #FF3366; /* Set the initial background color */
  color: black; /* Set the text color */
  padding: 10px 20px; /* Set the padding for the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add a border radius for a rounded button */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Add a pointer cursor on hover */

  /* Animation */
  animation-name: alternateColors;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes alternateColors {
  0% {
    background-color: red; /* First color */
  }

  50% {
    background-color: white; /* Second color */
  }

  100% {
    background-color: red; /* Back to the first color */
  }
}

@media screen and (max-width: 840px) {
  .NavbarItems {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 0px 0px;
    margin: 1rem 0 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 85%;
    height: 60px;
    border-radius: 15px;
    z-index: 500;
  }

  .tedx-logo {
    width: 5rem;
    height: 3rem;
  }

  .menu-icons {
    display: block;
    color: white;
    margin-left: 4rem;
  }
  .menu-icons i {
    font-size: 1.2rem;
  }
  .menu-icons i:hover {
    color: red;
    transition: all 0.2s ease-in-out;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    position: absolute;
    top: -100%;
    left: -100%;
    transform: rotate("90");
    border-radius: 15px;
    opacity: 0;
    align-items: center;
    padding: 70px 0 20px 0;
    margin-top: 0;
    transition: 0.3s ease-in-out;
  }

  .navbar-menu.active {
    top: 0;
    left: 0;
    transform: rotate("0");
    opacity: 1;
    z-index: -1;
    transition: 0.7s ease-in-out;
  }

  .nav-links {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }

  .nav-links:hover {
    color: red;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
  }
}
