.partner-page {
  background-color: #fff;
  color: #000;
  padding: 5rem;
}

.partner-section {
  margin-bottom: 2rem;
}

.partner-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .partner-images {
    flex-wrap: wrap;
  }
}
