.partner-page {
  background-color: #000;
  color: #fff;
  padding: 5rem;
}

.partner-section {
  margin-bottom: 1rem;
}

.partner-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partner-section h2
{
  font-size: 4rem;
  margin-bottom: 2rem;
}

#shree
{
  width: 23.875rem;
  margin-top:5rem;
}

.foodpartner
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 8.6rem;
}

#success
{
  width: 26rem;
  /* border: 2px solid red; */
  margin-top: -7rem;
}

.edupartner3
{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-top: 4rem;
  margin-left: -18rem;
}

#samadhan
{
  width: 6rem;
  margin-top: -3rem;
}

.repartner
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 6rem;
}

#sanjos
{
  width: 20rem;
}

.edupartner2
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  /* margin-top: 2rem; */
  margin-top: 3rem;
  margin-left: -18rem;
}

@media (max-width: 768px) {
  .partner-images {
    flex-wrap: wrap;
  }
  .partnerimg
  {
    padding-bottom: 5rem;
  }
  .partner-section h2
{
  font-size: 2rem;
  margin-bottom: 4rem;
}
#shree
{
  width: 18.875rem;
}

#success
{
  width: 10.625rem;
  /* border: 2px solid red; */
}
#samadhan
{
  width: 15.75rem;
}


#shree
{
  /* width: 23.875rem; */
}

.foodpartner
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  display: none;
}

#success
{
  /* width: 16rem; */
  /* border: 2px solid red; */
  margin-top: 0rem;
}

.edupartner3
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  display: none;
}

#samadhan
{
}

.repartner
{
  text-decoration: none;
  color: #fff;
  display: none;
}

#sanjos
{
  /* width: 16rem; */
}

.edupartner2
{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  display: none;
}

}
