.Speaker {
  /* border: 2px solid orange; */
  width: 100%;
  height: fit-content;
  background-color: black;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.SpeakerCardd {
  /* box-shadow: 0 0 10px white; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
.Heading {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  padding: 3rem;
}

@media screen and (max-width: 550px) {
  .Speaker {
    width: 100%;
    height: fit-content;
    background-color: black;
    padding: 4rem;
    display: flex;
    
    /* border: 2px solid blue; */
  }
  .SpeakerCardd {
    /* box-shadow: 0 0 10px white; */
    justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .Heading {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
  }
  #card1 {
    position: relative;
    padding: 0;
  }
}
